# Today you are a Data Scientist at Tesla! 

You have been assigned a new project to look at car sales from Quarters 1-2 in California for 2019 to make predictions as to which cars will be sold more than the others in Q3 and Q4, to ensure enough inventory to meet demands!

### If running this notebook in Google Colab, run the following cell first to mount your Google Drive

This mounts your Google Drive at the location `/content/drive` on the virtual machine running this notebook.

In [9]:
try:
    from google.colab import drive
    drive.mount('/content/drive')
except: 
    print("This will only work on google collab!!!")

This will only work on google collab!!!

## Task 1: Load the data

### Import the modules

1. We'll be using numpy, pandas and matplotlib, so we start by importing them.

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read in the data

2. Use pandas to read in the CSV file containing the sales data for Quarters 1 and 2. The file is called `sales_Q12_2019.csv`.

    Note: Update `filepath` below to be where you saved the `sales_Q12_2019.csv` file (either on your computer if you're running the notebook locally, or in Google Drive if you're using Google Colab).

In [11]:
# my copy of the Tesla sales data is located in my drive at /Datasets/week_1/
filepath = 'sales_Q12_2019.csv'
df_sales = pd.read_csv(filepath) # [YOUR CODE HERE]

3. Examine the data's shape and first few rows.

In [13]:
# [YOUR CODE HERE]
df_sales.shape
df_sales.columns

Index(['main_S60_1', 'main_S60_2', 'main_type_SP100D', 'main_type_S60D_1',
       'main_type_S60D_2', 'main_type_S70', 'main_type_S70D', 'main_type_S75',
       'main_type_S75D', 'main_type_S80', 'main_type_S80D', 'main_type_S85',
       'main_type_S85P', 'main_type_P85D', 'main_type_S90', 'main_type_S90D',
       'main_type_S100D', 'engine_A', 'engine_B', 'engine_C', 'engine_D',
       'engine_E', 'engine_F', 'engine_G', 'engine_H', 'engine_I', 'engine_J',
       'engine_K', 'engine_L', 'engine_M', 'engine_N', 'engine_O', 'engine_P',
       'engine_Q', 'engine_R', 'engine_S', 'engine_T', 'engine_U', 'engine_V',
       'engine_W', 'engine_X', 'engine_Y', 'engine_Z', 'sales_1', 'sales_2',
       'sales_3', 'sales_4', 'sales_5', 'sales_6', 'sales_7', 'sales_8',
       'sales_9', 'sales_10', 'sales_11', 'sales_12', 'sales_13', 'sales_14',
       'sales_15', 'sales_16', 'sales_17', 'sales_18', 'sales_19', 'sales_20',
       'sales_21', 'sales_22', 'sales_23', 'sales_24', 'sales_25', 'sales_26',
       'sales_27', 'sales_28', 'sales_29', 'sales_30', 'MSRP', 'dealer_state',
       'date'],
      dtype='object')

### Clean the data

4. Notice that our dataset only contains dealers in California, so we can remove the `dealer_state` column. We also will be removing the `date` column (while we could possibly extract useful information from the date, we won't be using it for this exercise). Use the `.drop()` method to remove the two columns ([docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)).

    Use the `.head()` method to verify that they were removed correctly. If the DataFrame wasn't modified make sure you included the attribute `inplace=True` in the `.drop()` method.

In [14]:
# [YOUR CODE HERE]
df_sales.drop(["dealer_state", "date"], inplace=True, axis=1)

In [18]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   main_S60_1        5837 non-null   int64
 1   main_S60_2        5837 non-null   int64
 2   main_type_SP100D  5837 non-null   int64
 3   main_type_S60D_1  5837 non-null   int64
 4   main_type_S60D_2  5837 non-null   int64
 5   main_type_S70     5837 non-null   int64
 6   main_type_S70D    5837 non-null   int64
 7   main_type_S75     5837 non-null   int64
 8   main_type_S75D    5837 non-null   int64
 9   main_type_S80     5837 non-null   int64
 10  main_type_S80D    5837 non-null   int64
 11  main_type_S85     5837 non-null   int64
 12  main_type_S85P    5837 non-null   int64
 13  main_type_P85D    5837 non-null   int64
 14  main_type_S90     5837 non-null   int64
 15  main_type_S90D    5837 non-null   int64
 16  main_type_S100D   5837 non-null   int64
 17  engine_A          5837 non-null   int64
 18  engine_B          5837 non-null   int64
 19  engine_C          5837 non-null   int64
 20  engine_D          5837 non-null   int64
 21  engine_E          5837 non-null   int64
 22  engine_F          5837 non-null   int64
 23  engine_G          5837 non-null   int64
 24  engine_H          5837 non-null   int64
 25  engine_I          5837 non-null   int64
 26  engine_J          5837 non-null   int64
 27  engine_K          5837 non-null   int64
 28  engine_L          5837 non-null   int64
 29  engine_M          5837 non-null   int64
 30  engine_N          5837 non-null   int64
 31  engine_O          5837 non-null   int64
 32  engine_P          5837 non-null   int64
 33  engine_Q          5837 non-null   int64
 34  engine_R          5837 non-null   int64
 35  engine_S          5837 non-null   int64
 36  engine_T          5837 non-null   int64
 37  engine_U          5837 non-null   int64
 38  engine_V          5837 non-null   int64
 39  engine_W          5837 non-null   int64
 40  engine_X          5837 non-null   int64
 41  engine_Y          5837 non-null   int64
 42  engine_Z          5837 non-null   int64
 43  sales_1           5837 non-null   int64
 44  sales_2           5837 non-null   int64
 45  sales_3           5837 non-null   int64
 46  sales_4           5837 non-null   int64
 47  sales_5           5837 non-null   int64
 48  sales_6           5837 non-null   int64
 49  sales_7           5837 non-null   int64
 50  sales_8           5837 non-null   int64
 51  sales_9           5837 non-null   int64
 52  sales_10          5837 non-null   int64
 53  sales_11          5837 non-null   int64
 54  sales_12          5837 non-null   int64
 55  sales_13          5837 non-null   int64
 56  sales_14          5837 non-null   int64
 57  sales_15          5837 non-null   int64
 58  sales_16          5837 non-null   int64
 59  sales_17          5837 non-null   int64
 60  sales_18          5837 non-null   int64
 61  sales_19          5837 non-null   int64
 62  sales_20          5837 non-null   int64
 63  sales_21          5837 non-null   int64
 64  sales_22          5837 non-null   int64
 65  sales_23          5837 non-null   int64
 66  sales_24          5837 non-null   int64
 67  sales_25          5837 non-null   int64
 68  sales_26          5837 non-null   int64
 69  sales_27          5837 non-null   int64
 70  sales_28          5837 non-null   int64
 71  sales_29          5837 non-null   int64
 72  sales_30          5837 non-null   int64
 73  MSRP              5837 non-null   int64
dtypes: int64(74)
memory usage: 3.3 MB

In [15]:
df_sales.head()

,main_S60_1,main_S60_2,main_type_SP100D,main_type_S60D_1,main_type_S60D_2,main_type_S70,main_type_S70D,main_type_S75,main_type_S75D,main_type_S80,...,sales_22,sales_23,sales_24,sales_25,sales_26,sales_27,sales_28,sales_29,sales_30,MSRP
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,44610
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,41505
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,58890
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,51055
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,70830

### Read in the second dataset

5. Follow the same syntax as above to read in the `sales_Q34_2019.csv` dataset. Note that this dataset doesn't have the `dealer_state` or `date` column, so we don't need to do the same cleanup.

    After you've read in the data, use the `.head()` method to take a look at the first few rows.

In [16]:
filepath = 'sales_Q34_2019.csv'
df_pred = pd.read_csv(filepath)
# [YOUR CODE HERE]
df_pred.head()

,main_S60_1,main_S60_2,main_type_SP100D,main_type_S60D_1,main_type_S60D_2,main_type_S70,main_type_S70D,main_type_S75,main_type_S75D,main_type_S80,...,sales_22,sales_23,sales_24,sales_25,sales_26,sales_27,sales_28,sales_29,sales_30,MSRP
0,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,51355
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71580
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,66790
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72330
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,55370

## Task 2: Set up a regression problem 

We will be building a model to predict the number of each car type sold.

If we look at the columns in the dataset, we'll notice that the first 73 tell us which type of car it is. For example, the row at index 1 has a 1 in these three columns: `main_type_S100D`, `engine_A`, and `sales_8`. Any other rows that have 1's in these same columns refers to the same car. You'll see index 18 is the same.

For each of these unique combinations, we will be counting up the number of cars sold. Note that the final column (MSRP) will not be used.

We will count up the number of rows for each unique combination of values for the first 73 columns.

Since we will be doing this same calculation for both `df_sales` (the training set) and `df_pred` (the test set), we will write a function to avoid duplicating code.

1. Write the function `get_features_and_targets` that takes in a quarterly sales DataFrame and produces matrices $\mathbf{X}$ and $\mathbf{Y}$, where $\mathbf{X}$ has a row for each unique car ID and the corresponding row in $\mathbf{Y}$ has the number of those cars sold in the quarter.

    Note: For the `df_sales` dataset, there are 66 types of cars, so $\mathbf{X}$ should have 66 rows and 73 columns.

In [ ]:
def convert_to_int(row): 
    s = "".join(row.values.astype(str))
    return int(s,2)
     
df_sales['car_id'] = df_sales.iloc[:,0:73].apply(lambda row: convert_to_int(row), axis=1)
print(df_sales.car_id.nunique(dropna = True))

In [ ]:
def get_features_and_targets(df):
  # YOUR CODE HERE

2. Use the `get_features_and_targets()` function to create $\mathbf{X}$, $\mathbf{Y}$ pairs for both the training data (`df_sales`) and the test data (`df_pred`).

In [ ]:
X_train, y_train = None # [YOUR CODE HERE]
X_test, y_test = None # [YOUR CODE HERE]

3. Verify that the shapes of the four numpy arrays you just created are correct.

    The training set should have 66 datapoints and the test set should have 71 rows. Verify this by looking at the number of rows in $\mathbf{X}$ and number of values in $\mathbf{Y}$.
    
    Both $\mathbf{X}$'s should have 73 columns.

In [ ]:
# [YOUR CODE HERE]

Note that the Q12 and Q34 datasets contain differing numbers of distinct cars. Thus some new models were introduced by Q3, but were any discontinued by the beginning of Q3? Let's find out.

4. Print the total number of types of cars (e.g. types of cars that were sold in either Q12, Q34, or both). In mathematical notation, if the set of cars sold in Q12 is $\mathcal{A}$ and the set of cars sold in Q34 is $\mathcal{B}$, we're asking for the size of the *union* of these two sets $|\mathcal{A} \cup \mathcal{B}|$.

    Note: The notation $|\cdots|$ indicates measurement of the size of a set (the number of distinct items). (Mathematicians usually refer to it as the *cardinality*.)
    
    Hint: Create a single DataFrame with all the data and use the `get_features_and_targets()` function.

In [ ]:
# [YOUR CODE HERE]

5. A handy little fact from set theory is that $|\mathcal{A} \cup \mathcal{B}| = |\mathcal{A}| + |\mathcal{B}| - |\mathcal{A} \cap \mathcal{B}|$, where $\cap$ is the *intersection* of $\mathcal{A}$ and $\mathcal{B}$, things that are in **both** $\mathcal{A}$ and $\mathcal{B}$. Use this fact, and what you've computed above, to print the number of models that were sold in both Q12 and Q34.

In [ ]:
# [YOUR CODE HERE]

6. How many cars that were sold in Q12 were not sold in Q34?

In [ ]:
# [YOUR CODE HERE]

7. How many cars were sold in Q34 but not in Q12?

In [ ]:
# [YOUR CODE HERE]

## Task 3: Visualize the training and test targets

This is open-ended and we're not expecting a particular visualization, just show us what comes comes to your mind!

In [ ]:
# [YOUR CODE HERE]

## Task 4: Fit a linear model with gradient descent

1. Set hyperparameters for learning rate and maximum number of iterations through the training data.

In [ ]:
# these are good starting values, though you can play around with them
s_learning_rate = 0.001
s_max_iteration = 1000

### Hypothesis Function

2. Define your hypothesis function $h(\cdot)$ (which you use to make predictions $\hat{\mathbf{Y}}$ as the matrix product of your feature data $\mathbf{X}$ and parameters $\boldsymbol{\theta}$. $\boldsymbol{\theta}$, which you'll initialize in the training loop (below) is a column vector with a value for each feature in the training data, plus one for bias.

    Note: We'll deal with adding the column of 1's to $\mathbf{X}$ below in the gradient descent function, so don't worry about it now.

In [ ]:
def h(theta, X):
    # [YOUR CODE HERE]

3. Define your loss function as the MSE (mean squared error) between your actual and predicted $\mathbf{Y}$ values. 

    Recall that the predicted $\mathbf{Y}$ values, $\hat{\mathbf{Y}}$, are a function of $\boldsymbol{\theta}$ and $\mathbf{X}$.

In [ ]:
def loss(theta, X, y):
    # [YOUR CODE HERE]

### Gradient of Hypothesis Function

One can verify through straightforward (if somewhat tedious) multivariable calculus that the gradient of the loss function $J$ with respect to the parameters $\theta$ is 

$$ \frac{\partial J}{\partial \boldsymbol{\theta}} = - \frac{1}{m} X^T \cdot (Y - \hat{Y})$$

Where $m$ is the number of data samples, the number of rows in $\mathbf{X}$ and $\mathbf{Y}$.

Note that the $\mathbf{X}$ here is the one that has been augmented with a bias column. 

4. Write the `gradient()` function to compute this gradient.

In [ ]:
def gradient(theta, X, y):
    # [YOUR CODE HERE]

### Gradient Descent

5. Complete the `stochastic_gradient_descent()` function to train your linear regression model with gradient descent, i.e. calculate $\frac{\partial J}{\partial \theta}$ and update $\theta$. Recall that the general gradient descent update formula is $\theta := \theta - \alpha \frac{\partial J}{\partial \theta}$, with $\alpha$ the stepsize. We've provided the skeleton of a stochastic gradient descent function, but you're welcome to experiment with batch and/or minibatch gradient descent. Also recall that the aforementioned gradient descent methods differ in how frequently they calculate $\frac{\partial J}{\partial \theta}$ and update $\theta$. Notice in the first step we initialize $\boldsymbol{\theta}$ to all zeros and we temporarily prepend a column of $1$'s to the features, which corresponds to the bias parameter.

    Hint: Be mindful of the shapes of the arrays that you pass into the `gradient()` function. It should be two 2D arrays.

In [ ]:
def stochastic_gradient_descent(X, y, learning_rate, max_iteration, print_interval):
    theta = np.zeros((X.shape[1] + 1, 1))
    X_with_ones = np.hstack([np.ones([X.shape[0], 1]), X])  # prepend a column of 1's
    cost = np.zeros(max_iteration)  # initialize cost as array of zeros
    for i in range(max_iteration):
        for j in range(X.shape[0]):
            # [YOUR CODE HERE]
            # Compute the gradient from the current row in X and y.
            # Use that result to update theta.
        cost[i] = loss(theta, X_with_ones, y) # Update the cost array for the current iteration
    if i % print_interval == 0 :
        print('iteration : ', i, ' loss : ', loss(theta, X_with_ones, y)) 
    return theta, cost

6. Now we can run the `stochastic_gradient_descent()` function to find the optimal theta.

In [ ]:
s_theta, s_cost = stochastic_gradient_descent(X_train, y_train, s_learning_rate, s_max_iteration, 100)

In [ ]:
plt.stem(np.squeeze(s_theta))

### Generate Predictions from Test Data

7. Use `s_theta` to make predictions on the test set (`X_test`).

    Hint: Make sure to prepend the column of 1's onto `X_test` (just like it's done in the `stochastic_gradient_descent()` function).

In [ ]:
y_pred_GD = # [YOUR CODE HERE]

# Since our target is non-negative, we set any negative predictions to 0.
y_pred_GD[y_pred_GD < 0] = 0

8. Calculate the MSE and R^2 score.

In [ ]:
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score

# [YOUR CODE HERE]

### Visualize the predicted and actual test labels

9. Make a plot showing both the true values (`y_test`) and the predicted values (`y_pred_GD`).

In [ ]:
# [YOUR CODE HERE]

## Task 5: Normal Equations

Gradient Descent is an iterative method for converging on the solution, though we can also compute the solution directly using the normal equation. Gradient Descent is generally preferred because it can converge quickly even with a large dataset, but since our training dataset isn't very large, we can use the normal equation.

$$\boldsymbol{\theta} = (X^T \cdot X)^{-1} \cdot X^T \cdot Y$$ 
$$\hat{Y} = X \cdot \boldsymbol{\theta}$$

We'll compare our predictions with the ones we obtained using gradient descent.

Remember we still have a bias term, so $\boldsymbol{\theta}$ is of size 74x1 (73 for the unique ID features, 1 for the bias).

1. Complete the `normal_equations_solution()` function below.

    Hint: numpy's `linalg.pinv` efficiently computes the matrix $(X^T \cdot X)^{-1} \cdot X^T$.

In [ ]:
def normal_equations_solution(X, y):
    X_with_ones = np.hstack([np.ones([X.shape[0], 1]), X])
    # [YOUR CODE HERE]

2. Use the `normal_equations_solution()` function to compute `y_pred_NE`.

    The code should be the same as above, just use `n_theta` instead of `s_theta`.

In [ ]:
n_theta = normal_equations_solution(X_train, y_train)
y_pred_NE = # [YOUR CODE HERE]

# Set any negative predictions to 0
y_pred_NE[y_pred_NE < 0] = 0

3. Calculate the MSE and R^2 score.

In [ ]:
# [YOUR CODE HERE]

4. Make a plot showing both the true values (`y_test`) and the predicted values (`y_pred_NE`).

In [ ]:
# [YOUR CODE HERE]

### Regularized Normal Equations

Recall that our training features array `X_train` has 66 rows and 73 columns, thus wider than it is tall. This suggests the regularized normal equations might perform better.

$$\boldsymbol{\theta} = (X^T \cdot X + \lambda m I)^{-1} \cdot X^T \cdot Y$$

Here, $\lambda$ is the regularization parameter and $m$ is the number of rows in $X$.

5. Complete the `regularized_normal_equations_solution()` equation.

In [ ]:
def regularized_normal_equations_solution(X, y, regularization_param):
    X_with_ones = np.hstack([np.ones([X.shape[0], 1]), X])
    # [YOUR CODE HERE]

6. Complete the code snippet below to calculate the MSE and R^2 values for each of the potential regularization parameters to determine the optimal.

    Does it outperform the standard normal equation?

In [ ]:
regularization_params = np.linspace(0.001, 0.01, 10)

for regularization_param in regularization_params:
    theta_temp = regularized_normal_equations_solution(X_train, y_train, regularization_param)
    y_pred_N_reg = # [YOUR CODE HERE]
    y_pred_N_reg[y_pred_N_reg < 0] = 0
    print('For regularization parameter', regularization_param)
    # Print the MSE and R^2 value
    # [YOUR CODE HERE]
    print('-----')

## Task 6: Non-linear Regression Models (GLM, DT)

### Generalized Linear Models

Statsmodels has a `GLM` class for Generalized Linear Models. Here we import and build the model.

The `GLM` class takes the training labels, training features, and family, which is the family of distributions to which we assume our prediciton errors belong. Some potentially good choices for family include Gaussian, Gamma, and Logit.

1. Run the code below and review the results.

In [ ]:
import statsmodels.api as sm
X_train_with_ones = sm.add_constant(X_train)
glm = sm.GLM(y_train, X_train_with_ones, family=sm.families.Gaussian())
glm_results = glm.fit()
print(glm_results.summary())

2. Use the model created above to generate predictions.

In [ ]:
y_pred_GLM = # [YOUR CODE HERE]
y_pred_GLM[y_pred_GLM < 0] = 0

3. Calculate the MSE and R^2 score.

In [ ]:
# [YOUR CODE HERE]

4. Make a plot showing both the true values (`y_test`) and the predicted values (`y_pred_GLM`).

In [ ]:
# [YOUR CODE HERE]

### Random Forest Regression

5. Use the `RandomForestRegressor` from scikit-learn to train a model.

    The relevant parameters are the `max_depth` of the trees and the `random_state` (used so your code will always yield the same results).
    
    Note: we don't need to add a column of ones for non-linear models like Random Forests.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=5, random_state=0)
# [YOUR CODE HERE]

6. Use the model created above to generate predictions.

In [ ]:
y_pred_RF = # [YOUR CODE HERE]
y_pred_RF[y_pred_RF < 0] = 0

7. Calculate the MSE and R^2 score.

In [ ]:
# [YOUR CODE HERE]

8. Make a plot showing both the true values (`y_test`) and the predicted values (`y_pred_GLM`).

In [ ]:
# [YOUR CODE HERE]


## Task 7: Compare the Models

1. Populate the table below with the results of your experiments above. Which models performed best?

|Method      |RMSE             |R2               |
|------------|-----------------|-----------------|
| Gradient Descent | xx | xx|
| Normal Equations | xx | xx |
| Regularized Normal Equations | xx | xx |
| Generalized Linear Model (GLM) | xx | xx |
| Random Forests | xx | xx |